BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
PointerAlignment: Left
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
